{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <h2>List of Agents</h2>
    <ul>
        {% for agent in agents %}
            <li>
                {{ agent.first_name }} {{ agent.last_name }}
                <a href="{% url 'agent_detail' agent.id %}">Details</a>
            </li>
        {% empty %}
            <li>No agents found</li>
        {% endfor %}
    </ul>
    <a href="{% url 'agent_create' %}">Create New Agent</a>
{% endblock %}
