{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Real Estate App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Real Estate App</h1>
        <img src="{% static 'images/agents1photo.jpg' %}" alt="Agent Photo" width="250" height="250">
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'agent_list' %}">Agents</a></li>
            <li><a href="{% url 'property_list' %}">Properties</a></li>
            <li><a href="{% url 'client_list' %}">Clients</a></li>
            <li><a href="{% url 'request_list' %}">Requests</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Real Estate App</p>
    </footer>
</body>
</html>
