{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Real Estate App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div style="text-align: right;" class="mybutton">
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
        <h1>Real Estate App</h1>
    </header>
    <nav style="text-align: center;">
        <ul>
            <div style="text-align: center"; class="mybutton">
                <p><a href="{% url 'agent_list' %}">Agents</a>
                <a href="{% url 'property_list' %}">Properties</a>
                <a href="{% url 'client_list' %}">Clients</a>
                <a href="{% url 'request_list' %}">Requests</a>
                <a href="{% url 'user_list' %}">Users</a></p>
            </div>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    
        <footer>
            <p>&copy; 2024 Real Estate App</p>
        </footer>
    
</body>
</html>
