{% extends 'base.html' %}

{% block title %}Client Detail{% endblock %}

{% block content %}
    <h2>Client Detail</h2>
    <p>First Name: {{ client.first_name }}</p>
    <p>Last Name: {{ client.last_name }}</p>
    <p>Contact Email: {{ client.contact_email }}</p>
    <div>
        <a href="{% url 'client_update' client.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Edit</a>
        <a href="{% url 'client_delete' client.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Delete</a>
    </div>
{% endblock %}
