{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
    <h2>List of Clients</h2>
    <ul>
        {% for client in clients %}
            <li>
                {{ client.id }} - {{ client.first_name }} {{ client.last_name }}
                <div>
                    <a href="{% url 'client_detail' client.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Details</a>
                </div>
            </li>
        {% empty %}
            <li>No clients found</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'client_create' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Create New Client</a>
    </div>
{% endblock %}
