{% extends 'base.html' %}

{% block title %}Property Detail{% endblock %}

{% block content %}
    <h2>Property Detail</h2>
    <p>Type: {{ property.type }}</p>
    <p>Address: {{ property.address }}</p>
    <p>Price: ${{ property.price }}</p>
    <div>
        <a href="{% url 'property_update' property.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Edit</a>
        <a href="{% url 'property_delete' property.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Delete</a>
    </div>
{% endblock %}
