{% extends 'base.html' %}

{% block title %}Properties{% endblock %}

{% block content %}
    <h2>List of Properties</h2>
    <ul>
        {% for property in properties %}
            <li>
                {{ property.id }} - {{ property.type }} - {{ property.address }} - ${{ property.price }}
                <div>
                    <a href="{% url 'property_detail' property.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Details</a>
                </div>
            </li>
        {% empty %}
            <li>No properties found</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'property_create' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Create New Property</a>
    </div>
{% endblock %}
