{% extends 'base.html' %}

{% block title %}Requests{% endblock %}

{% block content %}
    <h2>List of Requests</h2>
    <ul>
        {% for request in requests %}
            <li>
                Request {{ request.id }} - {{ request.client }} - {{ request.property }}
                <div>
                    <a href="{% url 'request_detail' request.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Details</a>
                </div>
            </li>
        {% empty %}
            <li>No requests found</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'request_create' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Create New Request</a>
    </div>
{% endblock %}
