{% extends 'base.html' %}

{% block title %}Request Detail{% endblock %}

{% block content %}
    <h2>Request Detail</h2>
    <p>Client: {{ request.client }}</p>
    <p>Property: {{ request.property }}</p>
    <div>
        <a href="{% url 'request_update' request.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Edit</a>
        <a href="{% url 'request_delete' request.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Delete</a>
    </div>
{% endblock %}
