{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div style="text-align: right;">
            <a href="{% url 'logout' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Logout</a>
        </div>
        <h1>User List</h1>
    </header>
    <nav style="text-align: center;">
        <ul>
            <div>
                <a href="{% url 'agent_list' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Agents</a>
                <a href="{% url 'property_list' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Properties</a>
                <a href="{% url 'client_list' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Clients</a>
                <a href="{% url 'request_list' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Requests</a>
            </div>
        </ul>
    </nav>
    <ul>
        {% for user in users %}
            <li>
                {{ user.id }} - {{ user.username }} ({{ user.role }})
                <div class="mybutton">
                    <p><a href="{% url 'user_detail' user.id %}">Details</a></p>
                </div>
            </li>
        {% empty %}
            <li>No users found</li>
        {% endfor %}
    </ul>
    <div class="mybutton">
        <p><a href="{% url 'user_create' %}">Create New User</a></p>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Real Estate App</p>
    </footer>
</body>
</html>
