{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Detail{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>User Detail</h1>
    </header>
    <p>Username: {{ user.username }}</p>
    <p>Role: {{ user.role }}</p>
    <div>
        <a href="{% url 'user_edit' user.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Edit</a>
        <a href="{% url 'user_delete' user.id %}" style="display: inline-block; padding: 5px 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; border: none;">Delete</a>
    </div>
    <br>
    <footer>
        <p>&copy; 2024 Real Estate App</p>
    </footer>
</body>
</html>
